@{
    ViewData["Title"] = "Home Page";
}
<form class="text-center" method="post"  action="/home/connect">
    <label>Email</label>
    <input type="text" name="Email" />
    <label>Password</label>
    <input type="text" name="Password" />
    <input type="submit" value="Connect" />
</form>
